---
---

@import "{{ site.theme }}";

.grey {
  color: #828282;
}

.svg-icon {
  display: block;
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
  fill: currentColor;
}

.social-media-link {
  align-items: center;
  color: #828282;
  display: flex;
  font-size: small;
}

.social-media-link + .social-media-link {
  margin-left: 2rem;
}
